# Logs
logs
*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/*/.env
**/node_modules
**/dist
**/dist-ssr
*.local
**/venv
ball.json
.vscode
# Editor directories and files
*/.pytest_cache
*/__pycache__
**/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/**/*/migrations/*
!backend/**/*/migrations/__init__.py
backend/**/*/__pycache__
backend/assets